@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    /* ### Primary */

    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    /* ### Accent */

    --blue: hsl(248, 32%, 49%);

    /* ### Neutral */

    --dark-blue: hsl(249, 10%, 26%); 
    --grayish-blue: hsl(246, 25%, 77%);
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--red);
    background-image: url(../images/bg-intro-desktop.png);
}

/* CONTAINER CLASS */
.container {
    margin: auto;
    padding: 1.5rem;
}

/* MAIN CONTENT */
#main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#main-content > * {
    flex: 1 1 30rem;
}

/* INTRODUCTION */
#introduction {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* MAIN TITLE */
#main-title {
    color: white;
    max-width: 55rem;
    line-height: 1.1;
    font-size: clamp(3rem, 5vw, 5rem);
}

/* ABOUT */
#about {
    color: white;
    max-width: 62rem;
    font-size: clamp(1.5rem, 5vw, 2rem);
}

/* SIGN-UP SECTION */
#sign-up-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 55rem;
}

/* SIGN-UP FORM */
#sign-up-form {
    display: flex;
    flex-direction: column;
    /* gap: 2.5rem; */
    border-radius: 1rem;
    background-color: white;
    padding: clamp(2.5rem, 5vw, 3rem);
    box-shadow: 1px 7px rgba(0, 0, 0, 0.2);
}

/* TRY IT FREE */
#try-it-free {
    padding: 2rem;
    color: white;
    font-size: 2rem;
    text-align: center;
    border-radius: 1rem;
    background-color: var(--blue);
    box-shadow: 1px 7px rgba(0, 0, 0, 0.2);
}

#try-it-free > span {
    font-weight: 600;
}

/* CLAIM BTN */
#claim-btn {
    border: none;
    margin: 1rem;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    padding: 1.5rem;
    font-weight: 600;
    border-radius: 5px;
    transition-duration: 200ms;
    background-color: var(--green);
    font-size: clamp(1.5rem, 5vw, 2rem);
}

#claim-btn:hover {
    background-color: hsla(154, 59%, 51%, 0.6);
}

/* TERMS */
#terms {
    text-align: center;
    color: var(--grayish-blue);
    font-size: clamp(1rem, 5vw, 1.3rem);
}

#terms > a {
    font-weight: 600;
    color: var(--red);
    text-decoration: none;
}

/* INPUT */
input {
    margin: 1rem;
    padding: 1.5rem;
    font-weight: 700;
    text-indent: 1rem;
    border-radius: 4px;
    border: 1px solid var(--grayish-blue);
}

input.error {
    background-repeat: no-repeat;
    border: 2px solid var(--red);
    background-position: right 2rem center;
    background-image: url(../images/icon-error.svg);

}

input.error::placeholder {
    color: var(--red);
}

/* ERROR MSG */
.error-msg {
    display: none;
    font-size: 1.3rem;
    text-align: right;
    color: var(--red);
    font-style: italic;
}

input::placeholder {
    font-weight: 700;
    text-indent: 1rem;
    color: var(--dark-blue);
}